@{
    ViewData["Title"] = "sagar";
}

<h1>Bio data</h1>

<table border="2" style="padding:3px">
    <tr border ="2">
        <th>Name</th>
        <th>Address</th>
        <th>Phone no</th>
        <th>College</th>
        <th>level</th>

    </tr>
    <tr border="2">
        <td>Sagar Shrestha</td>
       
        <td>Kirtipur</td>
        <td>9803221823</td>

    
    
        
        <td>Bhaktapur</td>

    
    
        
        <td>Bachelor</td>

    </tr>
</table>